*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/* #region debug */

.debug *{
    /border:1px dashed;
}

/* #endregion debug */

/* #region header */

:root{
    --gb--logo: #fc9719;
    --gb--main_bg: #f6f5f3;
    --gb--instagram: #f82273;
    --gb--yout-pin: #ea1010;
    --gb--f:#0c55b7;
    --gb--twitter:#0d98ed;
    --gb-bg-footer: #7c69a4;
}




.d-flex{
    display: flex;
}

.col-6 {
    width: calc((100/12)*6);
}
.col-4 {
    width: calc((100/12)*4);
}
.col-8{
    width: calc((100/12)*8);
}
.col-12{
    width: 100%;
}

#app_header{

    *background-color;
    text-align: center;
    

    .title_header {
        padding: 2rem
    }

    .nerko-one-regular {
        font-family: "Nerko One", cursive;
        font-weight: 400;
        font-style: normal;
        color:var(--gb--logo)
    }
}


/* #endregion header */

/* #region main */

#app_main{
    
    
    display: flex;
    justify-content: center;
    background-color: var(--gb--main_bg) ;
    padding-left:;
    font-family: "Montserrat", system-ui;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    
    
}
.main_container{
    width: 90%;
    
}
.video_container{
    width:100%; 
    padding
}

.category{
    padding-top: 5%;
}
.row_name_dessert{
    display: flex;
    justify-content: space-between;
}


.name_dessert{
    width: 100%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.row_video_description{
    display: flex;
    flex-wrap: wrap;
}
.description{
    background-color: white;
    padding: 1rem;
    

    ul{
        list-style-type: none;
        li{
            padding:1%
        }
    }
}
.ipadding{
    padding-right: 2%;
    color:var(--gb--logo)
}

.social{
    display: flex;
    justify-content: space-around;
    background-color: var(--gb--main_bg);
    padding-top: 2rem;
    padding-bottom: 2rem;

    a{
        text-decoration: none;
        color:black
        

    }
}
.social_botton{
    background-color:white;
    border-radius: 20px;
    border-top-left-radius: ;

    padding-top: 0.5rem;
    padding-left: 1rem;
    padding-right:1rem;
    padding-bottom: 0.5em;

}
.fa-facebook{
    color: var(--gb--f);
}
.fa-twitter{
    color: var(--gb--twitter);
}
.fa-square-instagram{
    color:var(--gb--instagram);
}
.fa-pinterest, .fa-youtube{
    color: var(--gb--yout-pin);
}
/* history container */
.history_title{
    padding: 1rem;

    
}
.horizontal_line{
    color: var(--gb--logo);
    height: 0.5;
    width: 20%;
}
.history_row{
    display:block;
}
.history_col_img{

    padding-left:20%;
    padding-right: 10%;
    padding-top:2rem;
    padding-bottom: 2rem;
    p{
        width: 100%;
        text-align: justify;
        text-justify: inter-word;
    }

}

img{
    max-width: 100%;
    
}

.history_col_p{
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
/* #endregion main */
/* #region footer */
#app_footer{

    
    display: flex;
    /width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    background-color: var(--gb-bg-footer) ;

    }
    .footer_container{
        text-align: center;
        width: 90%;
        

    
    }
    .trademark, .address{
        color:white;
        padding:0.5rem;
    }
    .otherlink{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width:100%;
        
        a{
            padding:1rem;
            text-decoration: none;
            color:white;

        }
    }

/* #endregion footer */






/* #region media */

/* media mobilefirst */
@media screen and (max-width: 600px){
    .desktop_plus{
        display: none;
    }

    .name{
        display: none;
    }

    .banner{
        display:none;
    }
    .footer_desktop{
        display: none;
    }
    

}

/* media desktop */
@media screen and (min-width: 992px) {
    #app_header {
        text-align: left;
        background-color: white;
    }
    
    .nerko-one-regular_mb {

        weight: 600;
    }


    .col-sm-8 {
        width:60%;
    }
    
    .col-sm-4 {
        width: 40%;
        
       
    }
    
  

    .botton{
        display: inline-block;
    }

    .banner{
        display: flex;
        justify-content: center;
        padding-top:2rem;
        padding-bottom: 2rem;
    }

    .history_row{

        display: inline-block;
        flex-wrap: wrap;

        
        img{
            
            display:inline-block;
            float:left;
            width: 50%;
            margin-right:1rem;
            
        }
        
     
       /* col-4{
            width: 40%;
            padding:0%;
            padding-top:2rem;
            margin-bottom:500px;

                        }
        }

        col-8{
            float:inline-start ;
            flex-wrap: wrap;
            width: 60%;
            flex:1;
          */  
        p{  
            
            float: ;
        }         
        .history_col_img{
            
            
            padding-left: 1rem;
            padding-right: 1rem;
            
        }
    }
    .footer_desktop{
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding-left:0.5rem;
        padding-right:0.5rem
    }
    .row_desktop, .otherlink_desktop{
        width: 50%;
    }
    .trademark_ds{
        padding-top:0.5rem;
        padding-left: 0.5rem;
        color:white;
    }
    .otherlink_desktop{
        display: flex;
        flex-direction: row-reverse;
        padding-right:0.5rem;
        padding-top: 1rem;


        a{
            text-decoration: none;
            color: white;
            padding: 0.5rem;
            
        }
    }

    .footer_container{
        display: none;
    }
}


/* tablet */
@media screen and (min-width:768px) and (max-width:991){
    
      .ul_tab{
        display: flex;
        flex-wrap: wrap;
        text-align
        padding:2rem;
        list-style-type: ;
    }


    /*li{
        display:
        padding:;
    }*/
    .footer_desktop{
        display: none;
    }
}

/* #endregion media */